@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body, html{
    scroll-behavior: smooth;
    line-height: 1em;
}
hr{
    margin: 0;
    padding: 0;
    height: 1px;
    /* background-color: rgba(229, 255, 0, 0.781); */
}
.login{
    background-image: url('../img/fondo.jpg');
    height:100vh;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;    
}
.logo-img{
    width: 100%;
}
.logo-img img{
    width: 100%;
    margin-bottom: 20px;
}
.navbar-brand{
    padding: 0;
}
.navbar-brand img{
    max-height: 40px;

}
.titulo{
    text-transform: uppercase;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-shadow: 0 0 8px #111;
}

#servicios, #comprobantes, #presupuestos, #tickets{
    padding: 60px 0;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
#servicios{
    background-image: url('../img/fondoservicios2N.jpg');
}
#presupuestos{
    background-image: url('../img/presupuestos2N.jpg'); 
}

#listaservicios{
    width: 100%;
    flex-direction: column;
    flex-flow: row;
    flex-wrap: wrap;
    height: 100%;
}
.servicio{
    display: grid;
    grid-template-columns: auto 40px; /*70px*/
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #ffa600 #000 #000 #ffa600;
    margin: 10px 0;
    background: #000;
    background: -webkit-linear-gradient(bottom right,#000,  #ffa600);
    background: -moz-linear-gradient(bottom right, #000,  #ffa600);
    background: linear-gradient(to top left, #000, #ffa600);
    opacity: 0.95;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
    height: 80px;
    padding: 5px;
}
.servicio p:last-child{
    transition: all ease-in-out 0.5s;
    grid-column: span 2;
    text-align: center;
    margin-top: 10px;
    font-size: 0.1rem;
    /* display: none; */
    opacity: 0;
    height: 0;
    overflow: hidden;
}
@media only screen and (min-width: 768px){
    .servicio{
        border-width: 1px;
        border-style: solid;
        border-color: #ffa600 #000 #000 #ffa600;
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 1.2rem;
        padding: 15px 25px;
        margin: 10px;
        width: 45%;
        border-radius: 10px;
    }
}
.servicio:hover{
    background: #000;
    background: -webkit-linear-gradient(bottom right, #ffa600, #000);
    background: -moz-linear-gradient(bottom right, #ffa600, #000);
    background: linear-gradient(to top left, #ffa600, #000);
    /* transform: scale(105%); */
    padding: 15px;
    height: 130px;
    /* transition: all ease-in-out 0.5s; */
}
.servicio:hover p:last-child{
    font-size: 1rem;
    /* display: block; */
    opacity: 1;
    height: auto;
    transition: all ease-in-out 0.5s;
}
.servicio p{
    margin: 0;
}
.servicio p i{
    color: #f7d495;
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 50%;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}
.servicio p i.activo{
    color: #f7d495;
    background-color: green;
    border-radius: 50%;
    text-shadow: 0 0 15px rgba(115, 255, 0, 0.8);
}
.servicio button:hover{
    background-color: orange;
    color: #fff;
    font-weight: bold;
    border-color: orange;
}
#comprobantes, #tickets{
    background: linear-gradient(225deg, #ffa600, #f7d495);;
}

@media only screen and (min-width: 768px){
    .titulo{
        letter-spacing: 0.4rem;
    }   
}
.card{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#tbl_comprobantes{
    max-height: 70vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

#tbl_comprobantes table{
    background-color: rgba(255, 255, 255, 0.8);
}

#tbl_comprobantes table thead tr th{ 
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Tickets */
#botonera{
    display: block;
    height: 50px;
}
#tbl_tickets_pendientes, #tbl_tickets_encurso {
    max-height: 300px;
    margin-bottom: 20px;
}

.table th{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
